@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {

    body {
        @apply text-zinc-800;
        max-height: 100dvh;
        overflow: hidden;
    }

    button {
        cursor: pointer;
    }
}

@layer components {
    .lucide-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}